<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head', { titlu: 'Contact - ElectroDelicii' }) %>
</head>
<body>
    <%- include('../fragmente/header') %>
    
    <main>
        <section id="contact-intro">
            <h1>Contactează-ne</h1>
            <p>Vrei să afli mai multe despre produsele noastre sau să vizitezi târgurile? Suntem aici să te ajutăm!</p>
        </section>
        
        <section id="informatii-contact">
            <h2>Informații de contact</h2>
            <address>
                <p><strong>Adresa:</strong><br>
                Splaiul Unirii 450, București 030139</p>
                
                <p><strong>Email:</strong><br>
                <a href="mailto:contact@electrodelicii.ro">contact@electrodelicii.ro</a></p>
                
                <p><strong>Telefon:</strong><br>
                <a href="tel:+40712345678">+40 712 345 678</a></p>
                
                <p><strong>WhatsApp:</strong><br>
                <a href="https://api.whatsapp.com/send?phone=40712345678" class="link-extern">Scrie-ne pe WhatsApp</a></p>
            </address>
            
            <h3>Locațiile târgurilor</h3>
            <p><a href="https://www.google.com/maps/place/Bazarul+cu+Amintiri+-+T%C3%A2rgul+Valea+Cascadelor/@44.4233504,25.9988193,17z/data=!3m1!4b1!4m6!3m5!1s0x40b200f25cb83035:0x1fd227d80c56353d!8m2!3d44.4233504!4d25.9988193!16s%2Fg%2F11b_3gq7t4?entry=ttu" target="_blank" class="link-extern">Târgul Valea Cascadelor</a></p>
        </section>
    </main>
    
    <%- include('../fragmente/footer') %>
</body>
</html>
