<footer>
    <a href="#" id="link-top">
        <div id="arrow">
            <span>&#8593;</span>
        </div>
        <div class="tooltiptext">Mergi sus</div>
    </a>
    <address>
        <br/>
        Splaiul Unirii 450, Bucuresti 030139
        <br/>
        <a href="mailto:contact@electrodelicii.ro">Mail</a>
        <a href="tel:+40712345678">Telefon</a>
        <a href="https://api.whatsapp.com/send?phone=40712345678">Whatsapp</a>
        <br/>
        <a href="https://www.google.com/maps/place/Bazarul+cu+Amintiri+-+T%C3%A2rgul+Valea+Cascadelor/@44.4233504,25.9988193,17z/data=!3m1!4b1!4m6!3m5!1s0x40b200f25cb83035:0x1fd227d80c56353d!8m2!3d44.4233504!4d25.9988193!16s%2Fg%2F11b_3gq7t4?entry=ttu" target="_blank">Targ Valea Cascadelor</a>
    </address>
    
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.1940097684792!2d25.99663041570301!3d44.423350379101984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b200f25cb83035%3A0x1fd227d80c56353d!2sBazarul%20cu%20Amintiri%20-%20T%C3%A2rgul%20Valea%20Cascadelor!5e0!3m2!1sro!2sro!4v1683550058789!5m2!1sro!2sro" 
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <p class="banner">Acesta este un proiect școlar!</p>
    
    <p><small>Copyright &copy; <time datetime="2025-05-17">17 Mai 2025</time> ElectroDelicii. Toate drepturile rezervate.</small></p>
</footer>
