<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="vechituri, targ de vechituri, piata de vechituri, valea cascadelor, vitan, bucuresti, second-hand">
<meta name="description" content="ElectroDelicii. Vechituri, electronice, antichitati, Vitan, Valea Cascadelor. Lucruri gasite sau cumparate din targurile Vitan si Valea Cascadelor, Bucuresti">
<meta name="author" content="Your Name">
<link rel="icon" type="image/png" href="/src/ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/src/ico/favicon.svg" />
<link rel="shortcut icon" href="/src/ico/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/src/ico/apple-touch-icon.png" />
<link rel="manifest" href="/src/ico/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<link rel="stylesheet" href="/src/css/stil.css" type="text/css"/>
<link rel="stylesheet" href="/src/css/layout.css" type="text/css"/>
<link rel="stylesheet" href="/src/css/nav.css" type="text/css"/>
<link rel="stylesheet" href="/src/css/link.css" type="text/css"/>
<link rel="stylesheet" href="/src/css/video.css" type="text/css"/>
<link rel="stylesheet" href="/src/css/print.css" type="text/css" media="print"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<title><%= typeof titlu !== 'undefined' ? titlu : 'ElectroDelicii' %></title>
