<header>
    <h1>ElectroDelicii</h1>
    <div id="variante-meniu">
        <!-- Meniu principal pentru desktop -->
        <nav>
            <ul>
                <li><a href="/">Acasă</a>
                    <ul>
                        <li><a href="/#welcome">Welcome</a></li>
                        <li><a href="/#intrebari">Întrebări</a></li>
                        <li><a href="/#videouri">Videouri</a></li>
                    </ul>
                </li>
                <li><a href="/galerii">Galerii</a>
                    <ul>
                        <li><a href="/galerie-statica">Galerie Statică</a></li>
                        <li><a href="/galerie-dinamica">Galerie Dinamică</a></li>
                    </ul>
                </li>
                <li><a href="/produse">Produse</a>
                    <ul>
                        <li><a href="/electronice">Electronice</a></li>
                        <li><a href="/antichitati">Antichități</a></li>
                    </ul>
                </li>
                <li><a href="/targuri">Târguri</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        
        <!-- Buton Meniu pentru mobil (hamburger) -->
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        
        <!-- Meniu secundar pentru versiunea mobilă -->
        <div class="menu-secundar">
            <a href="/">Acasă</a>
            <a href="/#welcome" class="submenu-item">Welcome</a>
            <a href="/#intrebari" class="submenu-item">Întrebări</a>
            <a href="/#videouri" class="submenu-item">Videouri</a>
            <a href="/galerii">Galerii</a>
            <a href="/galerie-statica" class="submenu-item">Galerie Statică</a>
            <a href="/galerie-dinamica" class="submenu-item">Galerie Dinamică</a>
            <a href="/produse">Produse</a>
            <a href="/electronice" class="submenu-item">Electronice</a>
            <a href="/antichitati" class="submenu-item">Antichități</a>
            <a href="/targuri">Târguri</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</header>
